@import url('asciidoctor.css');
@import url(http://fonts.googleapis.com/css?family=Merriweather&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:400,700&subset=latin,latin-ext);

body {
	font-family: 'Merriweather', serif;
	background: rgb(232,232,232);
	background-image: url('../images/bg_lightgrey.png');
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6, #header > h1 { 
	font-family: 'Ek Mukta', sans-serif; color: #92c111;
}

#content { padding-left: 3em;}

@media only screen and (min-width: 1280px) {
	#toc { background-color: rgb(60,60,60); }
	#toc a { text-decoration: none;}	
}

.listingblock.console > .content > pre {
	background-color: rgb(60,60,60);
	color: rgb(255,255,255);
}

.listingblock > .content > pre.prettyprint { 
	background-color: #fff; border: 1px solid #ccc; padding: 12px 24px; 
	overflow-x: visible; margin-bottom: 20px;
}
.listingblock > .content > pre.prettyprint {
    position: relative;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
pre.prettyprint:before, 
pre.prettyprint:after {
	position: absolute;
	width: 40%;
	height: 10px;
	content: "";
	left: 12px;
	bottom: 15px;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -2;
}
pre.prettyprint:after {
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}